.card {
  border: 1px solid #1493eede;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 20px 1px rgba(194, 10, 29, 0.259) !important;
  transition: all 1.7s linear;
}

.card-header {
  background-color: #135592b6;
  color: #ffffff;
  padding: 10px;
}

.card-body {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

