<!-- giphy.component.html -->

<div class="giphy">
  <nav class="navbar">
    <div class="container">
      <form (submit)="searchGifs()">
        <input type="text" name="searchTerm"  [(ngModel)]="searchTerm" placeholder="Buscar GIFs">
        <button type="submit">Buscar</button>
      </form>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div *ngFor="let category of categories" class="col-lg-4 col-md-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ category.gif.title}}</h5>
          </div>
          <div class="card-body">
            <img *ngIf="category.gif?.images.original.mp4" src="{{ category.gif.images.downsized.url }}" alt="{{ category.name }}" class="card-img-top">
            <p class="card-text">name: {{ category.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
