body {
  background: linear-gradient(to bottom, #057ba6b8, #dfa70d79);
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos de la barra de navegación */
.navbar {
  background-image: linear-gradient(to right, rgba(20, 163, 188, 0.548), rgba(190, 167, 11, 0.717));
  padding: 10px 0;
}

.navbar form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-control[type="text"] {
  padding: 18px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-right: 15px;
}


.navbar button:hover {
  background-color: #33e70fd7;
}

.navbar h5{
  color: #ffc107d3;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(204, 168, 10, 0.747);
}
